{% load static %}

<!DOCTYPE>
<html>
<head>
	<title>Pizza</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'style.css' %}"/>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
	<script src="{% static 'index.js' %}"></script>
	<script id="new_pizza" type="text/x-handlebars-template">
		{% verbatim %}
		<div>
			<div class="row justify-content-between">
				<div class='col'><span class='forticket'>{{value}}   x<span class='amount'>1</span></span>
					<button class='btn btn-light +' style='font-size:10px' style='padding:1px'>+</button>
					<button class='btn btn-light -' style='font-size:10px' style='padding:1px'>-</button>
				</div>
				<div class='col-auto'>
					<span class='price'>{{price}}</span>
				</div>
			</div>
			<div class='row'>
				<div class='col forticket'>{{items}}</div>
			</div>
			<hr/>
		</div>
	{% endverbatim %}
	</script>
	<script id="new_item" type="text/x-handlebars-template">
		{% verbatim %}<div>
			<div class="row justify-content-between">
				<div class='col'><span class='forticket'>{{value}} 
				x<span class='amount'>1</span></span>
				<button class='btn btn-light +' style='font-size:10px' style='padding:1px'>+</button>
				<button class='btn btn-light -' style='font-size:10px' style='padding:1px'>-</button></div>
				<div class='col-auto'>
				
				<span class='price'>{{price}}</span>
				</div>
			<hr/>	
		</div>{% endverbatim %}
	</script>
	<script id="orderbutton" type="text/x-handlebars-template">
		
		
		{% verbatim %}
			<input type='hidden' name='items' value='{{items}}'>
			<input type='hidden' name='price' value='{{price}}'>

		{% endverbatim %}
	
	</script>

	<!-- <form action="{% url 'logout' %}" method='post'>
		{% csrf_token %}
	<button type='submit' class="btn btn-light logout" style='margin-top:15px'>Logout</button>
	</form> -->

</head>
<body>
	
	<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
				<a class="navbar-brand" href="{% url 'index' %}">Pinocchio's Pizza & Subs</a>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav">
				<li class="nav-item">
					{% if user.is_authenticated %}
					<a class="nav-link" href="{% url 'login' %}">Hi, {{user.first_name}} {{user.last_name}}! </a>
					{% else %}
					<a class="nav-link" href="{% url 'login' %}">Login </a>
					{%endif%}
				</li>
			</ul>
		</div>


	</nav>
	<div style='height:150px'></div>


		{% block body %}{% endblock %}

	<div style='height:130px'></div>




	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

			
</body>
</html>