{% extends "base.html" %}
{%block body%}
<div class='container-fluid menu'>
		<div class='row'>
			<div class='col-12'>
				<div class='row'>
					<h2>0</h2>
				    <button class='btn' id="increase">+</button>
				    <button class='btn' id="decrease">-</button>
				</div>
			</div>
		</div>





	<div class='row'>
		<div class='col-xl-9' style='margin-bottom:50px'>


		<div class="accordion" id="accordionExample">
		  <div class="card">
		    <div class="card-header" id="headingOne">
		      <h2 class="mb-0">
		        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
		          <h3>PIZZAS</h3>
		        </button>
		      </h2>
		    </div>

		    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
		      <div class="card-body">
		        <div class='row'>
							<div class='col-xl-7'>
								
								<div class='row' style="padding-top:20px;padding-bottom:20px; border-bottom:1px solid #e6e6e6;font-size:14px;color:#ff4d4d">
									<div class='col-2' style="width: 18rem;">Style</div>
									<div class='col-10'>
										<div class='row'>
										<div class='col-2'>Size</div>
										{% for t in pizzatoppingsclass %}
										<div class='col-2'>{% if t == "Cheese" %}<div>toppings</div>{% endif %}{{t}}</div>
										{% endfor %}
										</div>
									</div>
								</div>
								{% for style in pizzastyles %}
								<div class='row' style="padding-top:20px;padding-bottom:20px; border-bottom:1px solid #e6e6e6;font-size:14px">
									<div class='col-2'>{{style}}</div>
									<div class='col-10'>
									{% for size in pizzasize %}
										<div class='row' style='padding-bottom:10px;padding-top:10px'>
											<div class='col-2'>
												{{ size.size }}
											</div>
											
											
												{% for pizza in pizzas %}
												{% if pizza.style == style %}
												{% if pizza.size == size %}
												
												<div class='col-2'>
													<button class='btn prices pizza'data-items='0' value='Pizza {{pizza.style}} {{pizza.size}}'>{{pizza.price0}}</button>
												</div>
												<div class='col-2'>
													<button class='btn prices pizza'data-items='1' value='Pizza {{pizza.style}} {{pizza.size}}'>{{pizza.price1}}</button>
												</div>
												<div class='col-2'>
													<button class='btn prices pizza'data-items='2' value='Pizza {{pizza.style}} {{pizza.size}}'>{{pizza.price2}}</button>
												</div>
												<div class='col-2'>
													<button class='btn prices pizza'data-items='3' value='Pizza {{pizza.style}} {{pizza.size}}'>{{pizza.price3}}</button>
												</div>
												<div class='col-2'>
													<button class='btn prices pizza' data-items='3+' value='Pizza {{pizza.style}} {{pizza.size}}'>{{pizza.price4}}</button>
												</div>
												

												{% endif %}
												{% endif %}
												{% endfor %}
											</div>

										
									{% endfor %}
									</div>
								</div>
								{% endfor %}

						
							</div>

							<div class='col-xl-5'>
								
								<h6 style='margin-top:20px'>TOPPINGS</h6>	
								<div class='row'>
									{% for topping in toppings %}
										<button class='toppings col-sm-auto btn'>{{topping.name}}</button>
									{% endfor %}
								</div>
							</div>
						</div>
		      </div>
		    </div>
		  </div>
		  <div class="card">
		    <div class="card-header" id="headingTwo">
		      <h2 class="mb-0">
		        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
		          <h3>SUBS</h3>
		        </button>
		      </h2>
		    </div>
		    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
		      <div class="card-body">
		       

						<div class='row'>
							<div class='col-xl-6'>	
								<table class='table'>
									<thead>
									<tr>
										
										<th scope='col'>Subs</th>
										<th scope='col'>Small</th>
										<th scope='col'>Large</th>
										
										
									</tr>
								</thead>
								<tbody>
									{% for sub in subs %}
									<tr>
										<td>{{ sub.name }}</td>
										<td class='prices'>{% if sub.small %}{{ sub.small }}{% endif %}</td>
										<td class='prices'>{% if sub.large %}{{ sub.large }}{% endif %}</td>
									</tr>
									{% endfor %}
								</tbody>
								</table>
							</div>
							<div class='col-1'></div>
							<div class='col-xl-5'>
								
								<h6>TOPPINGS</h6>		
								<div class='row'>
									{% for topping in substoppings %}
										<div class='toppings col-sm-3'>{{topping.name}}</div>
									{% endfor %}
								</div>
							</div>
						</div>









		      </div>
		    </div>
		  </div>
		  <div class="card">
		    <div class="card-header" id="headingThree">
		      <h2 class="mb-0">
		        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
		          <h3>SALADS</h3>
		        </button>
		      </h2>
		    </div>
		    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
		      <div class="card-body">
		        
							<table class='table'>
								<thead>
								<tr>
									
									<th scope='col'>Salads</th>
									<th scope='col'>Price</th>
									
									
								</tr>
							</thead>
							<tbody>
								{% for salad in salads %}
								<tr>
									<td>{{ salad.name }}</td>
									<td class='prices'>{{ salad.price }}</td>
								</tr>
								{% endfor %}
							</tbody>
							</table>


		      </div>
		    </div>
		  </div>



	  <div class="card">
	    <div class="card-header" id="headingFour">
	      <h2 class="mb-0">
	        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
	          <h3>PASTA</h3>
	        </button>
	      </h2>
	    </div>
	    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
	      <div class="card-body">
	        
							<table class='table'>
							<thead>
							<tr>
								
								<th scope='col'>Pasta</th>
								<th scope='col'>Price</th>
								
								
							</tr>
						</thead>
						<tbody>
							{% for pasta in pastas %}
							<tr>
								<td>{{ pasta.name }}</td>
								<td class='prices'>{{ pasta.price }}</td>
							</tr>
							{% endfor %}
						</tbody>
						</table>


	      </div>
	    </div>
	  </div>

	  <div class="card">
	    <div class="card-header" id="headingFive">
	      <h2 class="mb-0">
	        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
	          <h3>DINNER PLATTERS</h3>
	        </button>
	      </h2>
	    </div>
	    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
	      <div class="card-body">
	        
						<table class='table'>
						<thead>
							<tr>
								
								<th scope='col'>Platter</th>
								<th scope='col'>Small</th>
								<th scope='col'>Large</th>
								
								
							</tr>
						</thead>
						<tbody>
							{% for platter in dinnerplatters %}
							<tr>
								<td>{{ platter.name }}</td>
								<td class='prices'>{{ platter.small }}</td>
								<td class='prices'>{{ platter.large }}</td>
							</tr>
							{% endfor %}
						</tbody>
						</table>


	      </div>
	    </div>
	  </div>

	</div>

		



	</div>
	<div class='col-xl-3'>
			<div class='card' style='padding:20px;font-size: 10px'>
				<div class='row card-title' style='position:relative;left:10px'><h3>Order</h3></div>
				
				<div id='items'>
					
				</div>
				<div class='row' style='position:relative;left:10px'><h5> TOTAL  = </h5><h5 id='total' >0.00</h5><h5> $</h5></div>
			</div>
		</div>
</div>



{%endblock%}




				











