{% extends "base.html" %}
{%block body%}
		<div class='row'>
			<div class='col-12'>
				<div class='row'>
					<h2>0</h2>
				    <button class='btn' id="increase">+</button>
				    <button class='btn' id="decrease">-</button>
				</div>
				<div class='row'>
					<div class='col-xl-6'>
						<h1>PIZZAS</h1>
						<table class='table'>
							<thead>
							<tr>
								<th scope='col'> Style</th>
								<th scope='col'> Size</th>
								<th scope='col'> Cheese</th>
								<th scope='col'> Toppings</th>
								<th scope='col'> +1</th>
								<th scope='col'> +2</th>
								<th scope='col'> +3</th>
								<th scope='col'> +>3</th>
							</tr>
						</thead>
						<tbody>

						{% for pizza in pizzas %}
							<tr>
								<td> {{ pizza.style }} </td>
								<td class='tolog'>{{ pizza.size }}</td>
								<td>{{ pizza.price0 }}</td>
								<td></td>
								<td>{{ pizza.price1 }}</td>
								<td>{{ pizza.price2 }}</td>
								<td>{{ pizza.price3 }}</td>
								<td>{{ pizza.price4 }}</td>
							</tr>
						{% endfor %}
						</tbody>
						</table>
					</div>
					<div class='col-1'></div>
					<div class='col-xl-5'>
					
						<h3>TOPPINGS</h3>	
						<div class='row'>
							{% for topping in toppings %}
								<div class='toppings col-sm-3'>{{topping.name}}</div>
							{% endfor %}
						</div>
					</div>
				</div>

				<hr>

				<div class='row'>
					<div class='col-xl-6'>
						<h1>SUBS</h1>	
						<table class='table'>
							<thead>
							<tr>
								
								<th scope='col'>Subs</th>
								<th scope='col'>Small</th>
								<th scope='col'>Large</th>
								
								
							</tr>
						</thead>
						<tbody>
							{% for sub in subs %}
							<tr>
								<td>{{ sub.name }}</td>
								<td>{{ sub.small }}</td>
								<td>{{ sub.large }}</td>
							</tr>
							{% endfor %}
						</tbody>
						</table>
					</div>
					<div class='col-1'></div>
					<div class='col-xl-5'>
						
						<h3>TOPPINGS</h3>	
						<div class='row'>
							{% for topping in substoppings %}
								<div class='toppings col-sm-3'>{{topping.name}}</div>
							{% endfor %}
						</div>
					</div>
				</div>


					<hr>
					<h1>SALADS</h1>	
					<table class='table'>
						<thead>
						<tr>
							
							<th scope='col'>Salads</th>
							<th scope='col'>Price</th>
							
							
						</tr>
					</thead>
					<tbody>
						{% for salad in salads %}
						<tr>
							<td>{{ salad.name }}</td>
							<td>{{ salad.price }}</td>
						</tr>
						{% endfor %}
					</tbody>
					</table>


					<hr>
					<h1>PASTA</h1>	
					<table class='table'>
						<thead>
						<tr>
							
							<th scope='col'>Pasta</th>
							<th scope='col'>Price</th>
							
							
						</tr>
					</thead>
					<tbody>
						{% for pasta in pastas %}
						<tr>
							<td>{{ pasta.name }}</td>
							<td>{{ pasta.price }}</td>
						</tr>
						{% endfor %}
					</tbody>
					</table>


					<hr>
					<h1>DINNER PLATTERS</h1>	
					<table class='table'>
						<thead>
						<tr>
							
							<th scope='col'>Platter</th>
							<th scope='col'>Small</th>
							<th scope='col'>Large</th>
							
							
						</tr>
					</thead>
					<tbody>
						{% for platter in dinnerplatters %}
						<tr>
							<td>{{ platter.name }}</td>
							<td>{{ platter.small }}</td>
							<td>{{ platter.large }}</td>
						</tr>
						{% endfor %}
					</tbody>
					</table>
						

			</div>
		</div>
{%endblock%}